@import '../../styles/responsive.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.tickets {
  min-width: 320px;
  min-height: 568px;
  margin-bottom: 12vh;
  &__button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  &__list {
    list-style: none;
    padding: 0px;
    }
    

}
