@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/responsive.scss';

.auth {
    z-index: 2;
    background-color: $midnightBlue;
}

.form-type {

    margin: 20px auto 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
        width: 90%;
        padding: 20px 0;
        background-color: $yellow;
        color: $backgroundDarkBlue;
        font-family: $overPass;
        margin-block-end: 0;
        margin-block-start: 0;
    }
}

.light {
    background-color: $lightYellow;
}