@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.button{
    border-radius: 20px;
    width: 90px;
    height: 40px;
    font-family: $overPass;
    font-weight: 600;
    border: 0;
    margin-right: 5px;
}