@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/responsive.scss';

.concerts {

    margin: 20px auto 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__card-container {
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        list-style-type: none;
        margin-bottom: 12vh;
    }

    &__title {
        width: 100%;
        padding: 10px 0;
        background-color: $yellow;
        color: white;
        font-family: $overPass;
        font-size: small;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    &__link {
        color: black;
        text-decoration: none;
    }

    &__warning {
        color: white;
        font-family: $overPass;
    }
}

.right {
    border-radius: 0 15px 15px 0;
    margin-left: 3px;
}

.left {
    border-radius: 15px 0 0 15px;
    margin-right: 3px;
}

.light {
    background-color: $lightGreen;
}

.dark {
    background-color: $darkGreen;
}