@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.ticketdetail {
  min-width: 320px;
  min-height: 568px;
  display: flex;
  align-items: center;
  flex-direction: column;

  ul,
  li {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__main {
    width: 90%;
    background-color: $yellow;
    display: flex;
    flex-direction: row;
  }

  &__second {
    width: 90%;
    height: 280px;
    font-family: $overPass;
    background-color: white;
    border-radius: 0 0 20px 20px;
    color: rgba(0, 0, 0, 0.5);

    &-info {
      padding-top: 30px;
      font-weight: bold;
    }
    p {
      margin: 5px;
    }

    img {
      margin: 15px;
      width: 100px;
    }
  }

  &__image {
    width: 50%;
  }

  &__info {
    width: 50%;
    padding: 10px;
    text-align: left;
    font-family: $overPass;
    font-weight: bold;

    p {
      margin: 8px;
    }
    &-artist {
      font-weight: bold;
      padding-bottom: 30px;
    }
    
  }
  &__images {
    width: 100%;
    height: 100%;
  }
}
