@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.chat {
  min-width: 320px;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 12vh;


  &__container {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    font-family: $overPass;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    &-img {
      width: 33%;
      height: 100px;
      margin: auto;

      img {
        width: 100%;
        height: 100px;
        border-radius: 200px;
      }
    }
    

    &-text {
      width: 67%;
      height: auto;
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: $overPass;
      font-weight: lighter;
    }
  }

  &__li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__form > * {
    margin: 5px auto;
  }
  &__form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    .form__input-area{
      height: 100px;
      width: auto;
    }
    .btn{
      background-color: $darkGreen;
      color: #fff;
      border-radius: 20px;
      width: 90px;
      height: 40px;
      font-family: $overPass;
      font-weight: 600;
      border: 0;
    }
}
}