@import '../../styles/responsive.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.home {
  min-width: 320px;
  min-height: 650px;
  background-color: $midnightBlue;
  &__button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    &-name {
      color: $yellow;
      font-family: $sourceSans;
      font-weight: 100;
      letter-spacing: 0;
      margin: 0;
    }
    &-info {
      margin-top: 0;
      font-size: 18px;
      font-family: $sourceSans;
      color: white;
    }
  }
  &__gallery {
    color: white;
  }
}
