@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.config {
  min-height: 568px;
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    &-title {
      color: rgb(255, 255, 255);
      font-size: 10pt;
      margin: 5px 0;
      font-weight: bold;
      font-family: $overPass;
    }
  }
  &__button {
    width: 100%;
    height: 35px;
    background-color: rgb(236, 233, 233);
    border: none;
    border-radius: 2pt;
    margin: 7px 0;
    text-align: left;
    font-family: $overPass;
    font-size: 10pt;
    font-weight: bold;
    color: rgb(17, 0, 51);

    a {
      text-decoration: none;
      font-family: $overPass;
      font-size: 10pt;
      font-weight: bold;
      color: rgb(17, 0, 51);
    }
  }
}
