@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.payment {
  min-width: 320px;
  min-height: 568px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  margin-bottom: 13vh;

  &__container {
    width: 90%;
    height: auto;
    background-color: rgb(249, 249, 249);
    border-radius: 4pt;
  }
  &__title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 220, 53);
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
    font-weight: bold;
    font-family: $overPass;
    p {
      margin: 0;
    }
  }
  &__form {
    text-align: left;
    padding: 15px;

    &-ticket {
      color: rgb(47, 56, 64);
      font-size: 10pt;
      font-weight: bold;
      font-family: $overPass;
      margin-bottom: 5px;
    }

    &-title {
      font-weight: bold;
      font-family: $overPass;
      margin-bottom: 5px;
    }
    &-input {
      width: 100%;
      height: 22pt;
      background-color: rgb(236, 233, 233);
      border: none;
      margin: 5px 0;
      border-radius: 2pt;
    }
    &-small {
      width: 50%;
    }
    &-button {
      width: 100%;
      height: 20pt;
      background-color: rgb(255, 220, 53);
      border: none;
      border-radius: 8pt;
      margin-top: 20px;
      font-weight: bold;
    }
  }
}
