
@import '../../styles/responsive.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.music {
  min-width: 320px;
  min-height: 568px;
  background-color: $midnightBlue;
  text-align: center;

  &__main {
    @include desktop {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
      }
  }
  &__title {
      color: white;
      font-weight: bold;
      font-size: 12px;
      font-size: $overPass;
      margin: 15px;
      letter-spacing: 0;
      @include desktop {
        font-size: 18px;
      }
  }
  &__container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      @include desktop {
          width: 60%;
      }
  }
  &__platform {
      width: 45%;
      height: 10.6447%;;
      background-color: white;
      border-radius: 2pt;
      margin: 6px;
      border: none;
      cursor: pointer;
      @include desktop {
          width: 35%;
          height: 40%;
    }
  }
  &__logo {
      width: 80%;
      height: 45pt;
      @include desktop {
        height: 100px;
    }
  }
}
