@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 10px;
    margin-bottom: 12vh;
  }
  
  .card {
    height: 200px;
    width: 300px;
    background-color: $yellow;
    margin: 20px auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    &__image-container{
      width: 50%;
    }
    &__image{
      height: 100%;
      width: 100%;
    }
    &__info{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 10px;
      position: relative;
    }
    &__title {
      font-size: 24px;
    }
    &__icon{
      width: 17px;
    }
    &__price, &__time {
      font-family: $overPass;
      font-weight: 300;
      display: flex;
    }
    .play {
      position:absolute;
      bottom: 13px;
      right: 18px;
    }

    &__iframe {
      align-self: center;
    }
  }
  
  .buttons__container {
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

  }
  .white-text {
    color: white;
    font-family: $overPass;
    font-weight: 300;
    font-size: 15px;
  }