@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header{
    width: 100wv;
    height: 9vh;
    font-family: $overPass;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $yellow;
    padding-bottom: 20px;
    position: relative;
    .arrow {
        height: 12px;
        position: absolute;
        bottom: 26px;
        left: 17px;
        cursor: pointer;
    }
}