@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.navbar {
    position: fixed;
    bottom: 0;
    background-color: $yellow;
    width: 100vw;
    height: 12vh;
    font-family: $overPass;
    font-weight: 300;
    font-size: 0.8rem;
    z-index: 1;
    display: grid;
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        .link{
            text-decoration: none;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .icon {
                    width: 26px;
                }
            }
        }
    }
    .active{
        transform: translateY(-50px);
    }
}
