@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.gallery {
    color: white;
    .slide {
        width: 80px;
        height: 80px;
        display: grid;
        place-content: center;
    }
    .cover {
        width: 100%;
        min-height: 80px;
        border-radius: 5px;
       
    }
}