@import '../../styles/colors.scss';

.loading {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right top, #47c6ba, #00acbc, #0090b5, #2173a5, #40568b);
    display: grid;
    place-content: center;
    z-index: 2;
    position: absolute;
    
    &__wave {
        width: 70%;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1em;
        
    }
    .stroke {
        height: 0.5em;
        width: 0.5em;
        animation: waves 1.5s infinite ease-in-out;
        border-radius: 0.125em;
        margin: 0 4px;
        background-color: $yellow;
    }
    @keyframes waves {
        0% {
          height: 0.5em;
        }
        50% {
          height: 6em;
        }
        100% {
              height: 0.5em;
        }
      }
      @for $i from 1 to 30 {
        .loading__wave div:nth-child(#{$i}) { animation-delay: random($limit: 5) * 0.25s; }
      }
}