@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/responsive.scss';

.search {
    &__container{
        margin-bottom: 12vh;
    }
    &__title {
        font-family: $overPass;
        font-size:large;
        color: white;
        margin-bottom: 0;
    }
    &__input {
        background-color: $formBackground;
        border: none;
        margin: 10px auto 0;
        border-radius: 10px;
        padding: 5px 10px;
        width: 80%;
    }
}