@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.concertlist {
  max-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 5px;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 8px;
    padding-top: 0;

    &-sm {
      width: 100%;
      height: 75%;
    }
  }

  &__text {
    width: 63%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    width: 100%;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 5px;
    padding-top: 0;
  }

  &__middle {
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: $overPass;
    font-weight: bold;
    color: white;

    &-button {
      background-color: transparent;
      border: none;
      padding: 10px;
      border: 1px solid rgb(255, 220, 53);
      border-radius: 10.8pt;
    }

    .artist {
        color: rgb(255, 220, 53);
        font-size: 12px;
    }
  }

  &__footer {
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 5px;
  }

  .color, a {
    font-family: $overPass;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
}
