@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/responsive.scss';

.register-form{
    background-color: $formBackground;
    width: 90%;
    border-radius: 15px;
    margin: 20px auto;

    &__title {
        padding: 20px 0;
        background-color: $yellow;
        color: $backgroundDarkBlue;
        font-family: $overPass;
        margin-block-end: 0;
        margin-block-start: 0;
        margin-top: 20px;
        border-radius: 15px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    &__field{
        margin-bottom: 20px;
        font-family: $overPass;

        input {
            border: none;
            font-family: $overPass;
            margin: 15px 0;
            background-color: $formInput;
            padding: 10px 10px;
            width: 80%;
            border-radius: 5px;
        }
    }

    &__button{
        border: 0;
        outline: none;
        border-radius: 1px;
        padding: 15px;
        margin: 20px 0;
        font-size: small;
        font-family: $overPass;
        background-color: $yellow;
        color: $backgroundDarkBlue;
        width: 80%;
        align-self: center;
        border-radius: 15px;
    }

    &__image {
        max-width: 200px;
        margin-top: 20px;
    }

    &__error {
        font-family: $overPass;
        font-size: x-small;
    }
}