@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.concert-card {
  height: 120px;
  width: 300px;
  background-color: $yellow;
  margin: 20px auto 5px auto;
  border-radius: 0 15px 15px 0;
  display: flex;

  &__image-container {
    width: 50%;
  }
  &__image {
    height: 100%;
    width: 100%;
    max-width: 200px;
  }
  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    position: relative;
  }
  &__title {
    font-family: $overPass;
    font-size: 16px;
    align-self: flex-start;
    font-weight: bold;
  }
  &__icon {
    width: 17px;
  }
  &__date,
  &__price,
  &__time {
    font-family: $overPass;
    font-size: 10px;
    font-weight: 300;
    align-self: flex-start;
  }
  &__users {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  &__attendees {
      color: white;
      margin: 3px 0px 3px 20px;
      font-size: 10px;
      font-family: $overPass;
  }
  &__line{
      height: 1px;
      width: 94%;
      background-color: $darkGreen;
      margin: 0 auto 10px;
  }
}
