@import '../../styles/colors.scss';
@import '../../styles/responsive.scss';


.page {
    width: 100vw;
    height: 100vh;
    // background: linear-gradient(to right top, #47c6ba, #00acbc, #0090b5, #2173a5, #40568b);
    background-image: url('../../assets/images/img.png');
    background-color: #2B7CAA;
    background-position: center;
    background-size: cover;
    // display: grid;
    // place-content: center;
    // z-index: 2;
    // position: absolute;
    @include desktop {
    background-size: initial;
    background-repeat: no-repeat;

    }
    
    &__logo {
        width: 100%;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            width: 100%;
            
        }
    }
}